
// variables
$font: 'Rubik', sans-serif;
$white-color: #fff;
$text-color: #4F5665;
$heading-color: #0B132A;
$primary-color: #F53838;
$gray-color: #DDE0E4;
$gray-light-color: #f8f8f8;
$hover-color: rgb(225, 229, 13);